/*background*/
body{
    font-family: "Times New Roman", Georgia, serif;
}
.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #f0f0f0;
}
/*header*/
header{
    text-align:center;
    color: black;
}

header h1{
    font-size: 40px;
}

/*navigation bar*/
nav{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f1f1f1;
}
nav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a.active{
    background-color: #b4b4b4;
    color: black;
}
nav a:hover:not(.active){
    background-color: #787878;
    color: black;
}

/*aside style*/
aside {}

/*about section style*/
.about{

}
.img{
    float: left;
    padding-left: 300px;
}
ul.text{
    text-align: center;
    list-style-type: none;
}
/*main section*/
main{

}

/* Clear floatsTeam Project Concept Phase after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Table formatting/hoverable */
table, td, th {
    text-align: left;
    border: 1px solid #ddd;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 15px;
}
tr:hover{background-color: #daebe8;}
caption{font-size: large;}

footer {
    background-color: #f1f1f1;
}